.git
.github
.vscode
.venv
.mypy_cache
.pytest_cache
TEMP_WILL_BE_DELETED

**/__pycache__
**/.ipynb_checkpoints
**/*.pyc
**/*.pyo
**/*.pyd

frontend/node_modules
frontend/.next

*.log

# Secrets / env files
.env
.env.*
!.env.example
render.env
*.pem
*.key
